@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/fonts/proximanova-regular-webfont.eot');
  src: url('/assets/fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/proximanova-regular-webfont.woff') format('woff'), url('/assets/fonts/avenirltstd-light.ttf') format('truetype'), url('/assets/fonts/avenirltstd-light.svg#Nobel') format('svg');
  font-weight: 400;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/fonts/proximanova-semibold-webfont.eot');
  src: url('/assets/fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/proximanova-semibold-webfont.woff') format('woff'), url('/assets/fonts/proximanova-semibold-webfont.ttf') format('truetype'), url('/assets/fonts/proximanova-semibold-webfont.svg#Avenirltstd') format('svg');
  font-weight: 700;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/fonts/proximanova-bold-webfont.eot');
  src: url('/assets/fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/proximanova-bold-webfont.woff') format('woff'), url('/assets/fonts/proximanova-bold-webfont.ttf') format('truetype'), url('/assets/fonts/proximanova-bold-webfont.svg#Nobel') format('svg');
  font-weight: 800;
}
