input[type=text],
textarea {
  box-shadow: none;
  outline: 0;
  background: none;
  height: $button;
  border: 1px solid rgba(255, 255, 255, 0.6);
  line-height: 20px;
  @include font-size($larger);
  font-weight: 700;
  &.dark {
    border-color: $purple;
  }
  &:focus {
    border-color: #fff;
    color: #fff;
    background: none;
  }
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
  font-weight: normal;
  @include font-size($normal);
}

input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.4);
  font-weight: normal;
  @include font-size($normal);
}

label {
  font-weight: 700;
}

form {
  margin: 10% auto;
  width: 60%;
  .filed {
    label {
      display: inline-block;
      width: 100%;
      em {
        color: $red;
      }
    }
    input[type=text],
    textarea {
      color: $black;
      background: #fff;
      border-color: rgba(0, 0, 0, 0.2);
      width: 100%;
      &:focus {
        border-color: $purple;
      }
    }
    ::-webkit-input-placeholder {
      color: rgba(0, 0, 0, 0.4);
    }
    input:-moz-placeholder {
      color: rgba(0, 0, 0, 0.4);
    }
  }
}

// .field {
//   margin-bottom: $gutter/2;
//   .description {
//     color: $grey;
//     display: block;
//     @include font-size($small);
//     margin-top: $gutter/4;
//   }
// }
// label,
// .label {
//   @include font-size($smaller);
//   display: block;
//   margin: 0 0 $gutter/5;
// }
// .select {
//   select {
//     @include button($light, true);
//     padding: $gutter/5 1.5*$gutter $gutter/5 $gutter/2;
//   }
// }
