input[type=text],
input[type=email],
textarea,
select {
  box-shadow: none;
  outline: 0;
  background: none;
  height: $button;
  border: 1px solid rgba(255, 255, 255, 0.6);
  line-height: 20px;
  @include font-size($larger);
  font-weight: 700;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  &.dark {
    border-color: $purple;
  }
  &:focus {
    border-color: #fff;
    color: #fff;
    background: none;
  }
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
  font-weight: normal;
  @include font-size($normal);
}

input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.4);
  font-weight: normal;
  @include font-size($normal);
}

label {
  font-weight: 700;
}

form {
  margin: 10% auto;
  min-width: 280px;
  max-width: 800px;
  width: 70%;
  .filed {
    margin-bottom: 20px;
    label {
      margin-bottom: $gutter/4;
      font-weight: normal;
      color: #000;
      display: inline-block;
      width: 100%;
      em {
        color: $red;
      }
    }
    .select {
      font-weight: 600;
      position: relative;
      width: 100%;
      &:after {
        bottom: 0;
        @include icon;
        content: 'd';
        cursor: pointer;
        @include font-size($large);
        line-height: 1;
        pointer-events: none;
        position: absolute;
        right: $gutter/2;
        top: 22px;
        transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        &:hover {
          color: inherit;
        }
      }
      &:hover {
        &:after {
          color: inherit;
        }
      }
      select {
        border: 1px solid $line;
        height: $button;
        width: 100%;
      }
    }
    input[type=text],
    input[type=email],
    textarea,
    select {
      color: $black;
      background: #fff;
      border-color: $line;
      width: 100%;
      &:hover {
        border-color: darken($line, 10%);
      }
      &:focus {
        border-color: $purple;
      }
    }
    textarea {
      padding: $gutter/2;
      height: 200px;
      max-width: 100%;
      //resize: none;
    }
    ::-webkit-input-placeholder {
      color: darken($line, 10%);
    }
    input:-moz-placeholder {
      color: darken($line, 10%);
    }
  }
}

// .field {
//   margin-bottom: $gutter/2;
//   .description {
//     color: $grey;
//     display: block;
//     @include font-size($small);
//     margin-top: $gutter/4;
//   }
// }
// label,
// .label {
//   @include font-size($smaller);
//   display: block;
//   margin: 0 0 $gutter/5;
// }
// .select {
//   select {
//     @include button($light, true);
//     padding: $gutter/5 1.5*$gutter $gutter/5 $gutter/2;
//   }
// }
