@font-face {
  font-family: 'icons';
  src:url('/assets/fonts/icons.eot');
  src:url('/assets/fonts/icons.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/icons.woff') format('woff'),
    url('/assets/fonts/icons.ttf') format('truetype'),
    url('/assets/fonts/icons.svg#Icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin icon {
  font-family: 'icons';
  font-variant: normal;
  font-weight: normal;
  speak: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}
