/* hero */

#hero {
  color: #fff;
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  @include breakpoint(highres) {
    height: 900px;
  }
  @include breakpoint(mobile) {
    height: 700px;
  }
  .bg-container {
    background: #000;
    left: 0px;
    position: absolute;
    top: 0px;
    height: 800px;
    width: 100%;
    @include breakpoint(highres) {
      height: 900px;
    }
    @include breakpoint(mobile) {
      height: 700px;
    }
    .bg {
      opacity: 0.5;
      background: url('/assets/images/bg-index.jpg') no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      left: 0px;
      height: 100%;
      position: absolute;
      top: 0px;
      width: 100%;
      z-index: 0;
    }
    .box {
      height: 100%;
      position: relative;
      display: table;
      width: 100%;
      z-index: 8;
      /* masthead */
      .masthead {
        padding: 0 8%;
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        a {
          @include font-size($smaller + 1);
        }
        h1 {
          color: #fff;
          margin-bottom: 0px;
        }
        h4 {
          color: #fff;
          margin-bottom: $gutter*2;
        }
      }
    }
  }
}
