/* subscription */

.subscription {
  label {
    display: block;
    margin-bottom: $gutter/2;
    width: 100%;
    @include font-size($larger - 2);
    @include breakpoint(desktop) {
      @include font-size($large - 4);
    }
  }
  form {
    padding: 0px;
    margin: 0px;
    min-width: auto;
    max-width: 100%;
    width: 100%;
    input[type=email] {
      float: left;
      margin-right: $gutter/2;
      min-width: 270px;
      width: 35%;
      @include breakpoint(mobile) {
        margin-bottom: $gutter/2;
        width: 270px;
      }
      @media (max-width: 400px) {
        margin-right: 0px;
      }
    }
  }
  p {
    @include font-size($smaller + 1);
    color: rgba(255, 255, 255, 0.6);
    line-height: 100%;
    margin: $gutter 0 0;
  }
}
