@import '../main';

/* ------
article
------- */

.article {
  #hero {
    height: 450px;
    @include breakpoint(highres) {
      height: 500px;
    }
    @include breakpoint(mobile) {
      height: 300px;
    }
    .bg-container {
      @extend #hero;
      .box {
        .masthead {
          text-align: center;
          h1 {
            margin-bottom: $gutter/4;
            @include font-size($huge - 3);
            @include breakpoint(tablet) {
              @include font-size($gigantic - 5);
            }
          }
          p {
            color: rgba(255, 255, 255, 0.8);
            margin: 0px;
          }
        }
      }
    }
  }
  .wrapper {
    max-width: 980px;
  }
  &.call-for-speakers {
    .bg {
      background-image: url('/assets/images/bg-call-for-proposals.jpg')!important;
    }
  }
  &.call-for-sponsors {
    .bg {
      background-image: url('/assets/images/bg-call-for-sponsors.jpg')!important;
    }
  }
  &.coc {
    .bg {
      background-image: url('/assets/images/bg-coc.jpg')!important;
    }
  }
}


/* content */

article {
  padding-top: 7%;
  padding-bottom: 7%;
  div.section {
    float: left;
    margin-bottom: $gutter*6;
    width: 100%;
    h2 {
      color: #000;
      text-align: left;
      margin-bottom: $gutter*1.5;
    }
    h4 {
      color: #000;
    }
    strong {
      color: $black;
    }
    .action {
      margin-top: $gutter*5;
      text-align: center;
      width: 100%;
      a {
        display: inline-block;
      }
    }
  }
  .icon-group {
    margin: $gutter*2 0px 0;
    float: left;
    width: 100%;
    ul.icon-list {
      float: left;
      position: relative;
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;
      text-align: center;
      li {
        display: inline-block;
        line-height: 140%;
        margin-bottom: 40px;
        text-align: center;
        // float: left;
        padding: $gutter*5.5 2% 0;
        position: relative;
        width: 25%;
        &:before {
          background: url('/assets/images/icons.png') no-repeat -4px -5px;
          content: '';
          position: absolute;
          top: 0px;
          left: 50%;
          margin-left: -50px;
          height: $gutter*5;
          width: $gutter*5;
        }
        @include breakpoint(mobile) {
          width: 50%;
        }
        div {
          position: absolute;
          left: 0px;
          top: 100px;
          width: 100%;
        }
      }
    }
    p.doc {
      float: left;
      margin-top: $gutter*4;
      margin-bottom: $gutter*4;
      text-align: center;
      width: 100%;
    }
  }
  .else {
    list-style: none;
    margin: $gutter*4 0 0 0;
    padding: 0px;
    li {
      position: relative;
      padding-left: $gutter*8;
      margin-bottom: $gutter*3;
      @include breakpoint(mobile) {
        padding-left: 0;
        padding-top: $gutter*5;
      }
      h5 {
        display: inline-block;
        margin-top: $gutter;
        width: 100%;
      }
      p {
        margin: 0;
      }
      &:before {
        background: url('/assets/images/icons.png') no-repeat -4px -5px;
        content: '';
        position: absolute;
        left: 0px;
        height: $gutter*5;
        top: 0px;
        width: $gutter*5;
        @include breakpoint(mobile) {
          left: 50%;
          margin-left: -$gutter*2.5
        }
      }
      &:nth-child(1) {
        &:before {
          background-position: -4px -280px;
        }
      }
      &:nth-child(2) {
        &:before {
          background-position: -111px -270px;
        }
      }
      &:nth-child(3) {
        &:before {
          background-position: -240px -274px;
        }
      }
    }
  }
}

.call-for-speakers {
  .icon-group {
    margin-bottom: $gutter*4;
    ul.icon-list {
      padding-bottom: $gutter*4;
      &:after {
        border-top: 1px solid $line;
        content: '';
        height: 1px;
        width: 40%;
        position: absolute;
        bottom: 0px;
        left: 50%;
        margin-left: -20%;
      }
      li {
        &:nth-child(2) {
          &:before {
            background-position: -113px -5px;
          }
        }
        &:nth-child(3) {
          &:before {
            background-position: -237px -5px;
          }
        }
        &:nth-child(4) {
          &:before {
            background-position: -368px -5px;
          }
        }
      }
    }
  }
}

.call-for-sponsors {
  .icon-group {
    margin-bottom: $gutter*4;
    ul.icon-list {
      &:after {
        display: none;
      }
      li {
        padding-top: 170px;
        min-width: 170px;
        &:before {
          width: 170px;
          height: 170px;
          margin-left: -85px;
        }
        &:nth-child(1) {
          &:before {
            background-position: 5px -105px;
          }
        }
        &:nth-child(2) {
          &:before {
            background-position: -157px -105px;
          }
        }
        &:nth-child(3) {
          &:before {
            background-position: -318px -105px;
          }
        }
        div {
          top: 172px;
        }
      }
    }
  }
  .action {
    a {
      @include breakpoint(mobile) {
        height: auto;
        line-height: 160%;
        padding: 10px 30px;
      }
    }
  }
}
