@import '../main';

/* ------
pages - index
------- */


/* call-for-speakers*/

#call-for-speakers {
  background: $green;
  display: inline-block;
  position: relative;
  width: 100%;
  .col-2 {
    box-sizing: border-box;
    background: $purple;
    color: #fff;
    float: left;
    overflow: hidden;
    padding: 10% 8%;
    position: relative;
    width: 50%;
    @include breakpoint(mobile) {
      width: 100%;
    }
    * {
      position: relative;
      z-index: 1;
    }
    h2 {
      color: #fff;
      margin-bottom: $gutter/2;
    }
    p {
      margin: 0 0 $gutter*1.5;
      color: rgba(255, 255, 255, 0.6);
    }
    @include breakpoint(mobile) {
      width: 100%;
    }
    .bg {
      background: url('/assets/images/bg-col-call-for-proposals.jpg') no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 100%;
      left: 0px;
      opacity: 0.2;
      position: absolute;
      @include transition(all 0.4s ease-in-out);
      top: 0px;
      width: 100%;
      z-index: 0;
    }
    &:first-child {
      height: 100%;
      position: absolute;
      left: 0px;
      top: 0px;
      @include breakpoint(mobile) {
        position: relative;
      }
    }
    &:last-child {
      float: right;
      color: $purple;
      background: $green;
      h2 {
        color: $purple;
      }
      p {
        color: $purple;
      }
      .bg {
        background: url('/assets/images/bg-col-call-for-sponsors.jpg') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: covercall;
        -o-background-size: cover;
        background-size: cover;
      }
    }
    &:hover {
      .bg {
        @include transform(scale(1.05));
      }
    }
  }
}


/* about-us */

#about-us {
  @extend .padding;
  position: relative;
  ul {
    list-style: none;
    padding: 0px;
  }
  .left {
    width: 70%;
    position: relative;
    z-index: 1;
    @include breakpoint(mobile) {
      width: 80%;
    }
    ul.statistic {
      margin-top: $gutter*4;
      li {
        background: #fff;
        border-radius: $radius;
        border: 1px solid $line;
        display: inline-block;
        padding: $gutter $gutter/4;
        margin-right: 3%;
        text-align: center;
        width: 22.7%;
        h1 {
          line-height: 100%;
          color: $green;
          margin-bottom: 0;
          @include font-size($huge + 1);
          @include breakpoint(desktop) {
            @include font-size($gigantic + 1);
          }
        }
        span {
          color: darken($grey, 20%);
        }
        &:last-child {
          margin-right: 0px;
        }
        @include breakpoint(mobile) {
          margin-bottom: 12px;
          width: 48%;
          &:nth-child(even) {
            margin-right: 0px;
          }
        }
      }
    }
    .graph {
      margin-top: $gutter*4;
      ul {
        li {
          padding-top: 30px;
          position: relative;
          margin-bottom: $gutter*2.5;
          width: 100%;
          span {
            line-height: 24px;
            float: left;
            &.year {
              width: 50px;
              @include font-size($normal);
              @include breakpoint(desktop) {
                width: 80px;
                @include font-size($larger + 2);
              }
            }
            &.title {
              color: darken($dark, 5%);
              left: 50px;
              position: absolute;
              top: 0px;
              @include font-size($smaller + 1);
              @include breakpoint(desktop) {
                @include font-size($normal + 1);
                left: 80px;
              }
            }
            &.progress {
              height: 24px;
              margin-right: $gutter/2;
              @include breakpoint(desktop) {
                margin-right: $gutter;
              }
            }
            &.number {
              font-weight: bold;
              width: 30px;
              @include font-size($larger -2);
              @include breakpoint(desktop) {
                @include font-size($large - 2);
                width: 50px;
              }
            }
          }
          &:nth-child(1) {
            span {
              &.progress {
                background: lighten($green, 30%);
                width: calc(45% - 90px);
                @include breakpoint(desktop) {
                  width: calc(35% - 150px);
                }
              }
              &.number {
                color: lighten($black, 30%);
              }
            }
          }
          &:nth-child(2) {
            span {
              &.progress {
                background: lighten($green, 20%);
                width: calc(65% - 90px);
                @include breakpoint(desktop) {
                  width: calc(50% - 150px);
                }
              }
              &.number {
                color: lighten($black, 20%);
              }
            }
          }
          &:nth-child(3) {
            span {
              &.progress {
                background: lighten($green, 10%);
                width: calc(75% - 90px);
                @include breakpoint(desktop) {
                  width: calc(70% - 150px);
                }
              }
              &.number {
                color: lighten($black, 10%);
              }
            }
          }
          &:nth-child(4) {
            margin-bottom: $gutter*3.5;
            span {
              &.progress {
                background: $green;
                width: calc(90% - 90px);
                @include breakpoint(desktop) {
                  width: calc(90% - 150px);
                }
              }
              &.number {
                color: $black;
              }
            }
          }
          &:nth-child(5) {
            border-top: 1px solid $line;
            span {
              color: $purple;
              font-weight: bold;
              &.title {
                left: 0px;
                margin-right: $gutter;
                position: relative;
              }
              &.date {
                font-weight: normal;
              }
              @include font-size($normal);
              @include breakpoint(desktop) {
                @include font-size($larger + 2);
              }
            }
          }
        }
      }
    }
  }
  .map {
    right: 0px;
    position: absolute;
    top: 300px;
    z-index: 0;
  }
}


/* speakers */

#speakers {
  @extend .padding;
  padding-top: 0px;
  ul {
    margin: 0;
    padding: 0;
    @include breakpoint(mobile) {
      text-align: center;
    }
    li {
      display: inline-block;
      list-style: none;
      margin-right: 3.7%;
      position: relative;
      text-align: left;
      width: 48%;
      &:nth-child(2n) {
        margin-right: 0px;
      }
      @include breakpoint(desktop) {
        width: 17%;
        &:nth-child(2n) {
          margin-right: 3.7%;
        }
        &:nth-child(5n) {
          margin-right: 0px;
        }
      }
      @include breakpoint(mobile) {
        width: 50%;
        &:nth-child {
          margin-right: 0px;
        }
      }
      img {
        display: block;
        width: 100%;
      }
      div {
        float: left;
        position: relative;
        width: 100%;
        &:after {
          @include background(radial-gradient(transparent,
          rgba(47, 34, 79, 0.3)) left repeat);
          bottom: 0;
          content: '';
          left: 0;
          opacity: 1;
          position: absolute;
          right: 0;
          top: 0;
          @include transition-property(bottom,
          opacity);
          z-index: 999;
          @include transition(all 0.2s ease-in-out);
        }
      }
      a {
        float: left;
        width: 100%;
        &:hover {
          h5 {
            color: $purple;
          }
          div:after {
            @include background(radial-gradient(transparent,
            rgba(47, 34, 79, 0.2)) left repeat);
          }
        }
        h5 {
          text-align: center;
          margin: $gutter 0 $gutter/2;
          @include font-size($larger + 2);
          float: left;
          width: 100%;
          // position: absolute;
          // top: 100%;
          // width: 100%;
        }
        p {
          margin: 0;
        }
      }
    }
  }
}


/* display */

#display-list {
  background: $darkpurple;
  padding: 0px;
  list-style: none;
  margin: 0px;
  float: left;
  width: 100%;
  li {
    float: left;
    position: relative;
    img {
      float: left;
      width: 100%;
    }
    &:nth-child(1) {
      width: 41.14%;
    }
    &:nth-child(2) {
      width: 33.53%;
    }
    &:nth-child(3) {
      width: 25.31%;
    }
    @include breakpoint(mobile) {
      &:nth-child(1) {
        width: 100%;
      }
      &:nth-child(2) {
        width: 56.8%;
      }
      &:nth-child(3) {
        width: 43.2%;
      }
    }
  }
}


/* Review */

#review {
  @extend .padding;
  float: left;
  color: #fff;
  background: url('/assets/images/bg-city.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  h2 {
    color: #fff;
  }
  p {
    strong {
      font-weight: normal;
    }
  }
}
