/* ------
partials
------- */


/* header */

#header {
  height: 65px;
  position: absolute;
  a {
    color: #fff;
    font-weight: normal;
    line-height: 25px;
  }
  .logo {
    float: left;
    font-size: 38px;
    height: 65px;
    line-height: 65px;
    margin-right: $gutter*4;
    @include breakpoint(mobile) {
      margin-right: $gutter;
      font-size: 20px;
    }
  }
  nav {
    float: left;
    height: 65px;
    padding: $gutter 0;
    a {
      margin-right: $gutter*1.5;
      &:last-child {
        margin-right: 0px;
      }
      @include breakpoint(mobile) {
        margin-right: $gutter/3;
      }
    }
  }
  .lang {
    position: absolute;
    right: 0px;
    top: 0;
    height: 65px;
    padding: $gutter 0;
  }
}

#sub-header {
  bottom: 65px;
  line-height: 45px;
  opacity: 0;
  padding: 12.5px 0;
  position: absolute;
  visibility: hidden;
  @include transition(all 0.2s ease-in-out);
  .subscription {
    display: inline-block;
    input,
    button {
      height: 40px;
    }
    input {
      width: 246px;
    }
  }
  .SNS,
  .lang {
    float: right;
  }
  .lang {
    color: #fff;
  }
}


/* subscription */

.subscription {
  label {
    display: block;
    margin-bottom: $gutter/2;
    width: 100%;
    @include font-size($larger - 2);
    @include breakpoint(desktop) {
      @include font-size($large - 4);
    }
  }
  input {
    float: left;
    margin-right: $gutter/2;
    min-width: 246px;
    width: 35%;
    @include breakpoint(mobile) {
      margin-bottom: $gutter/2;
      width: 246px;
    }
  }
  p {
    @include font-size($smaller + 1);
    color: rgba(255, 255, 255, 0.4);
    line-height: 100%;
    margin: $gutter 0 0;
  }
}


/* Footer */

#footer {
  $button: 40px;
  background: $darkpurple;
  color: #fff;
  padding: $gutter*2 0 $gutter*1.5;
  .left {
    display: inline-block;
    label {
      line-height: 100%;
      margin: 0px;
    }
    p {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    input,
    button {
      height: 40px;
    }
    .SNS {
      margin-top: $gutter*1.5;
    }
  }
  .right {
    color: rgba(255, 255, 255, 0.4);
    float: right;
    @include breakpoint(mobile) {
      float: none;
    }
  }
  .bottom {
    @include font-size($smaller + 1);
    margin-top: $gutter;
    width: 100%;
    div {
      float: right;
      a {
        margin-right: $gutter*1.5;
        &:last-child {
          margin: 0px;
        }
      }
      @include breakpoint(mobile) {
        float: none;
      }
    }
  }
}


/* SNS */

.SNS {
  a {
    margin-right: $gutter;
  }
}


/* interactions - header-fixed */

.header-fixed {
  #hero {
    @include breakpoint(desktop) {
      .bg {
        position: fixed;
        left: 0px;
        top: -800px;
        margin-top: 65px;
        z-index: 10;
      }
    }
    @include breakpoint(highres) {
      .bg {
        top: -900px;
      }
    }
    #sub-header {
      visibility: visible;
      bottom: 0;
      opacity: 1;
    }
  }
}


/* ------
pages - index
------- */


/* hero */

#hero {
  color: #fff;
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  @include breakpoint(highres) {
    height: 900px;
  }
  @include breakpoint(mobile) {
    height: 700px;
  }
  .bg {
    background: $black;
    left: 0px;
    position: absolute;
    top: 0px;
    height: 800px;
    width: 100%;
    @include breakpoint(highres) {
      height: 900px;
    }
    @include breakpoint(mobile) {
      height: 700px;
    }
    .box {
      height: 100%;
      position: relative;
      display: table;
      width: 100%;
      /* masthead */
      .masthead {
        padding: 0 8%;
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        a {
          @include font-size($smaller + 1);
        }
        h1 {
          color: #fff;
          margin-bottom: 0px;
        }
        h4 {
          color: #fff;
          margin-bottom: $gutter*2;
        }
      }
    }
  }
}


/* call-for-proposals */

#call-for-proposals {
  background: $green;
  width: 100%;
  .col-2 {
    box-sizing: border-box;
    background: $purple;
    color: #fff;
    display: inline-block;
    padding: 8%;
    width: 50%;
    @include breakpoint(mobile) {
      width: 100%;
    }
    &:last-child {
      color: $purple;
      background: $green;
      h2 {
        color: $purple;
      }
    }
    h2 {
      color: #fff;
      margin-bottom: $gutter/2;
    }
    p {
      margin: 0 0 $gutter*1.5;
    }
  }
}


/* about-us */

#about-us {
  @extend #review;
  ul {
    list-style: none;
    padding: 0px;
  }
  .left {
    width: 80%;
    ul.statistic {
      margin-top: $gutter*4;
      li {
        background: #fff;
        border-radius: $radius;
        border: 1px solid $line;
        display: inline-block;
        padding: $gutter $gutter/4;
        margin-right: 3%;
        text-align: center;
        width: 22.7%;
        h1 {
          line-height: 100%;
          color: $green;
          margin-bottom: 0;
        }
        span {
          color: darken($grey, 20%);
        }
        &:last-child {
          margin-right: 0px;
        }
        @include breakpoint(mobile) {
          margin-bottom: 12px;
          width: 48%;
          &:nth-child(even) {
            margin-right: 0px;
          }
        }
      }
    }
    .graph {
      margin-top: $gutter*4;
      ul {
        li {
          padding-top: 30px;
          position: relative;
          margin-bottom: $gutter*2.5;
          width: 100%;
          span {
            line-height: 24px;
            float: left;
            &.year {
              width: 50px;
              @include font-size($normal);
              @include breakpoint(desktop) {
                width: 80px;
                @include font-size($larger + 2);
              }
            }
            &.title {
              color: darken($dark, 5%);
              left: 50px;
              position: absolute;
              top: 0px;
              @include font-size($smaller + 1);
              @include breakpoint(desktop) {
                @include font-size($normal + 1);
                left: 80px;
              }
            }
            &.progress {
              height: 24px;
              margin-right: $gutter/2;
              @include breakpoint(desktop) {
                margin-right: $gutter;
              }
            }
            &.number {
              font-weight: bold;
              width: 30px;
              @include font-size($larger -2);
              @include breakpoint(desktop) {
                @include font-size($large - 2);
                width: 50px;
              }
            }
          }
          &:nth-child(1) {
            span {
              &.progress {
                background: lighten($green, 30%);
                width: calc(45% - 90px);
                @include breakpoint(desktop) {
                  width: calc(35% - 150px);
                }
              }
              &.number {
                color: lighten($black, 30%);
              }
            }
          }
          &:nth-child(2) {
            span {
              &.progress {
                background: lighten($green, 20%);
                width: calc(65% - 90px);
                @include breakpoint(desktop) {
                  width: calc(50% - 150px);
                }
              }
              &.number {
                color: lighten($black, 20%);
              }
            }
          }
          &:nth-child(3) {
            span {
              &.progress {
                background: lighten($green, 10%);
                width: calc(75% - 90px);
                @include breakpoint(desktop) {
                  width: calc(70% - 150px);
                }
              }
              &.number {
                color: lighten($black, 10%);
              }
            }
          }
          &:nth-child(4) {
            margin-bottom: $gutter*3.5;
            span {
              &.progress {
                background: $green;
                width: calc(90% - 90px);
                @include breakpoint(desktop) {
                  width: calc(90% - 150px);
                }
              }
              &.number {
                color: $black;
              }
            }
          }
          &:nth-child(5) {
            border-top: 1px solid $line;
            span {
              color: $purple;
              font-weight: bold;
              &.title {
                left: 0px;
                margin-right: $gutter;
                position: relative;
              }
              &.date {
                font-weight: normal;
              }
              @include font-size($normal);
              @include breakpoint(desktop) {
                @include font-size($larger + 2);
              }
            }
          }
        }
      }
    }
  }
}


/* display */

#display-list {
  height: 800px;
  padding: 0px;
  list-style: none;
  margin: 0px;
  li {
    display: inline-block;
    position: relative;
    height: 400px;
    a {
      left: 0px;
      top: 0px;
      position: absolute;
      height: 100%;
      width: 100%;
      background: #ccc;
    }
    &:nth-child(1) {
      width: 40%;
      height: 800px;
    }
    &:nth-child(2) {
      height: 800px;
      width: 35%;
      a {
        height: 400px;
        background: #222;
        &:last-child {
          top: auto;
          bottom: 0px;
          background: #ddd;
        }
      }
    }
    &:nth-child(3) {
      width: 25%;
      height: 800px;
      a {
        background: #666;
      }
    }
  }
}


/* Review */

#review {
  padding-top: $gutter*12;
  padding-bottom: $gutter*12;
  @include breakpoint(mobile) {
    padding-top: $gutter*6;
    padding-bottom: $gutter*6;
  }
}
