/* speaker + schedule */

@import 'bourbon';
@import '../modules/_responsive';
.speakers-container {
  .days {
    display: flex;
    flex-direction: row;
    div {
      flex: 1;
      text-align: center;
      &:first-child {
        border-right: 1px dashed #ccc;
      }
      // width: 80px;
      // padding: 5px;
      // border-radius: 2px;
      // border: 1px solid #ddd;
      // border-right: 1px solid #ddd!important;
      // margin: 0 auto;
      h3 {
        color: #8B66CB;
        font-size: 18px;
        margin-bottom: 0;
        @include breakpoint(desktop) {
          font-size: 22px;
        }
      }
      i {
        color: #aaa;
        font-size: 16px;
        font-style: normal;
      }
    }
  }
  .schedule {
    h4 {
      font-weight: bold;
      font-size: 24px;
      color: #18142E;
      text-align: center;
      margin: 10px 0;
      @include breakpoint(desktop) {
        font-size: 30px;
      }
    }
    .speakers {
      display: flex;
      flex-direction: row;
    }
    article {
      flex: 1 100%;
      padding: 0 20px;
      max-width: 50%;
      .info {
        position: relative;
        text-align: center;
        width: 180px;
        img {
          border: 1px solid #eee;
          border-radius: 50%;
          max-width: 60px;
          max-height: 60px;
          @include breakpoint(desktop) {
            max-width: 100px;
            max-height: 100px;
          }
        }
      }
      .content {
        margin-top: 10px;
        float: left;
        width: 100%;
        @include breakpoint(desktop) {
          margin-top: 0px;
          float: none;
        }
        .title {
          color: #5245A0;
          font-weight: normal;
          font-size: 15px;
          margin-bottom: 10px;
          @include breakpoint(desktop) {
            font-size: 18px;
          }
        }
        .slide {
          font-size: 12px;
          text-decoration: underline;
        }
        a {
          font-weight: bold;
          font-size: 16px;
          color: #aaa;
        }
        h5 {
          color: #aaa;
          font-weight: normal;
          font-size: 16px;
        }
      }
    }
    article:nth-of-type(odd) {
      border-right: 1px dashed #ccc;
      // padding-left: 2%;
      // padding-right: 5%;
      text-align: right;
      .info {
        float: right;
      }
      .content {
        margin-right: 10px;
      }
    }
    article:nth-of-type(even) {
      // padding-left: 5%;
      margin-right: 0;
      // padding-right: 2%;
      text-align: left;
      .info {
        float: left;
      }
      .content {
        margin-left: 10px;
      }
    }
  }
  .title {
    width: 90%;
    padding: 10px 0;
    margin: 0 auto;
    text-align: center;
  }
}
