$dark: #777;
$green: #19E69B;
$purple: #5245A0;
$darkpurple: #18142E;
$button: 46px;
$font: 'Proxima Nova',
Arial,
'Hiragino Sans GB',
'Microsoft YaHei',
sans-serif;
* {
  box-sizing: border-box;
}

body {
  color: $dark;
  font-family: $font;
  font-weight: normal;
  letter-spacing: 0.3px;
  line-height: 180%;
  min-width: 320px;
  position: relative;
  @include font-size($smaller + 1);
  -webkit-font-smoothing: antialiased;
  @include breakpoint(desktop) {
    @include font-size($normal + 1);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
  line-height: 140%;
  margin: 0 0 $gutter;
}

h1 {
  @include font-size($huge + 1);
  @include breakpoint(desktop) {
    @include font-size($gigantic + 1);
  }
}

h2 {
  @include font-size($large + 1);
  @include breakpoint(desktop) {
    @include font-size($huge + 1);
  }
}

h3 {
  @include font-size($larger);
  @include breakpoint(desktop) {
    @include font-size($large - 2);
  }
}

h4 {
  font-weight: normal;
  @include font-size($larger);
  @include breakpoint(desktop) {
    @include font-size($large - 2);
  }
}

button {
  border: 0px;
  outline: 0;
}

.container {
  margin: 0 4%;
  width: 92%;
}

.wrapper {
  margin: 0 8%;
  width: 84%
}

a {
  cursor: pointer;
  color: $green;
  font-weight: normal;
  text-decoration: none;
  &:hover {
    color: shade($green, 20%);
  }
  &:active {
    color: $green;
  }
}

.hide {
  display: none;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}
